/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a{
  text-decoration: none;
  color: white;
}

p{
  line-height: 1.8rem;
}

img{
  width: 100%;
}

h3{
  font-size: 2rem;
  margin: 60px 0;
}

h4{
  color: #0084FD;
  font-size: 1.3rem;
  margin-bottom: 40px;
}

.container{
  width: 85%;
  margin: 0 auto;
}

/* >>> CARD */
.card{
  width: 100%;
  /* DEBUG */
  min-height: 100px;
  /* ---- */
  border-radius: 18px;
  margin: 25px 0;
  padding: 40px 30px;
}

.group-cards.enhanced .card, .card.enhanced{
  border-radius: 48px;
}

.group-cards.back-blue .card, .card.back-blue{
  background-color: #B5DDFF;
}

.group-cards.back-violet .card, .card.back-violet{
  background-color: #9792E4;
}

.group-cards.back-white .card, .card.back-white{
  background-color: white;
}
/* <<< CARD */

/* >>> BUTTON */
.button{
  border-radius: 20px;
  background-color: #9792E4;
  padding: 10px 20px;
  text-align: center;
}

.button a{
  font-weight: bold;
}

.button.spacing a{
  letter-spacing: 3px;
}

.button.circular{
  width: 50px;
  height: 50px;
  padding: 0;
  line-height: 50px;
  border-radius: 50%;
  margin: 0 auto;
}

.button.back-blue{
  background-color: #0084FD;
}

.button.back-white{
  background-color: white;
  color: black;
}
/* <<< BUTTON */

/* UTILITIES */

.d-flex{
  display: flex;
}

.t-center{
  text-align: center;
}

.color-white{
  color: white;
}

/* HEADER */

header{
  height: 75px;
  background-color: #0084FD;
}

header .container{
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

nav .menu-short{
  color: white;
  font-size: 1.4rem;
}

nav .menu{
  display: none;
}

/* MAIN */

section{
  padding: 25px 0 50px;
}

section:nth-of-type(even){
  background-color: #9792E4;
}

.demo-application .card p{
  font-weight: bold;
  color: #5A6E7F;
}

.demo-application .card:first-of-type{
  padding-bottom: 0;
}

.demo-application .card:first-of-type .button{
  margin: 40px 0;
  max-width: 220px;
}

.demo-application .card:first-of-type .button i{
  padding-right: 10px;
}

.demo-application .card:first-of-type img{
  transform: translateY(4px);
}

.demo-application .card .logo-card i{
  color: #0084FD;
  font-size: 5rem;
  padding-bottom: 30px;
}

.strategic-planning .card img{
  margin: 30px 0;
}

.strategic-planning .card h4{
  color: black;
  margin-bottom: 18px;
}

.strategic-planning .card p{
  color: black;
  font-style: italic;
  margin-bottom: 40px;
}

.strategic-planning .card .button a{
  color: black;
}

.testimonials h5{
  font-weight: normal;
  margin: 40px 0px;
  font-size: 1.2rem;
}

.testimonials h3{
  color: #9792E4;
  margin: 0px 0px 50px;
}

.testimonials p{
  margin-bottom: 50px;
  font-size: 1.2rem;
  line-height: 2rem;
}

.testimonials .card p{
  padding-top: 12px;
}

.testimonials .card span{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
}

.benefits .card h3, .benefits .card h4{
  color: #9792E4;
}

.benefits .card h3{
  font-size: 3.5rem;
  margin: 0;
}

.benefits .card h4{
  font-size: 1.5rem;
  margin: 20px 0px 25px;
}

.benefits .card p{
  color: grey;
  margin-bottom: 30px;
}

.benefits .card .button{
  max-width: 150px;
}

.box{
  height: 400px;
  margin: 20px 0;
  background-color: violet;
}

/* FOOTER */

footer{
  min-height: 225px;
  background-color: #333333;
  padding: 40px 0;
}

footer p:first-of-type{
  margin-bottom: 50px;
}

footer a{
  color: #9792E4;
  text-decoration: underline;
}
