/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a{
  text-decoration: none;
  color: white;
}

img{
  width: 100%;
}

.container{
  width: 90%;
  margin: 0 auto;
}

/* >>> CARD */
.card{
  width: 100%;
  height: 200px;
  border-radius: 18px;
  margin: 25px 0;
}

.group-cards.enhanced .card, .card.enhanced{
  border-radius: 48px;
}

.group-cards.back-blue .card, .card.back-blue{
  background-color: #B5DDFF;
}

.group-cards.back-violet .card, .card.back-violet{
  background-color: #9792E4;
}

.group-cards.back-white .card, .card.back-white{
  background-color: white;
}
/* <<< CARD */

/* >>> BUTTON */
.button{
  border-radius: 20px;
  background-color: #9792E4;
}

.button.back-blue{
  background-color: #0084FD;
}

.button.back-white{
  background-color: white;
  color: black;
}
/* <<< BUTTON */

/* UTILITIES */

.d-flex{
  display: flex;
}

.t-center{
  text-align: center;
}

.color-white{
  color: white;
}

/* HEADER */

header{
  height: 75px;
  background-color: #0084FD;
}

header .container{
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

nav .menu-short{
  color: white;
}

nav .menu{
  display: none;
}

/* MAIN */

section{
  padding: 25px 0 50px;
}

section:nth-of-type(even){
  background-color: #9792E4;
}

.box{
  height: 400px;
  margin: 20px 0;
  background-color: violet;
}

/* FOOTER */

footer{
  min-height: 225px;
  background-color: #333333;
  padding: 40px 0;
}

footer p:first-of-type{
  margin-bottom: 50px;
}

footer a{
  color: #9792E4;
  text-decoration: underline;
}
